/* imported font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@300;400&display=swap');

/* Main font family */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* ------------------ 
Banner Section
------------------- */
header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 0px 240px;
}

.logo-nav {
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 45px;
}

.logo-title,
.future-title,
.facts-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.nav-list li {
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

.banner-info {
    width: 862px;
    text-align: center;
    padding-left: 100px;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 32px;
}

.banner-description,
.facts-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

.primary-btn {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 70px;
}

.banner-img img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 45px;
}

/* ---------------------
Section Future Introduction
----------------------- */

main {
    padding: 0px 240px;
}

.section-future-intro {
    margin-top: 85px;
    margin-bottom: 130px;
}

.future-intro {
    display: flex;
    align-items: center;
    gap: 70px;
}

.future-intro-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.future-intro-img img {
    width: 260px;
}

.future-intro-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

#title-first-part {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

#title-last-part {
    color: #FF900E;
}

.future-intro-description {
    color: #727272;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 32px;
}

/* -----------------------
Section Future Description 
-------------------------*/
.future-description-container {
    display: flex;
    gap: 20px;
    margin-bottom: 130px;
}

.future-info-container {
    width: 600px;
    height: 800px;
}

.future-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}

.future-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.future-info-box {
    margin-bottom: 15px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.future-info-title {
    color: #131313;
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 10px;
}

.future-info-description {
    color: #727272;
    font-weight: 400;
    font-size: 15px;
}

.future-description-img {
    margin-left: 50px;
}

.future-description-img img {
    width: 550px;
    height: 750px;
}

.future-btn {
    width: 250px;
    height: 160px;
    color: #FFFFFF;
    background-color: #FF900E;
    font-weight: 700;
    font-size: 45px;
    border: 1px solid;
    border-radius: 8px;

    margin-top: -150px;
    margin-left: -50px;
}

#future-btn-experience {
    font-weight: 500;
    font-size: 25px;
}

/* -----------------------
Section Some Facts Design
------------------------  */
.section-facts-container {
    margin-bottom: 180px;
}

.facts-title {
    margin-bottom: 24px;
}

.facts-description {
    width: 49%;
    margin-bottom: 100px;
}

.fact-info-container {
    display: flex;
    justify-content: space-around;
}

.fact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.fact-info img {
    width: 45px;
    height: 45px;
}

.fact-info h3 {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
}

.fact-info p {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

.fact-info:hover {
    transition-duration: 1.5s;
    transform: rotate(45deg);
}